@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
}
.bg-modal{
  background-color: rgba(0, 0, 0, 0.5);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
